 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
          * {
            padding: 0;
            margin: 0;
            font-family: 'Poppins', sans-serif;
            box-sizing: border-box;
        }
        :root{
            --bg-color: #1f242d;
            --text-color: #fff;
            --second-bg-color: #323946;
            --main-color: #0ef;
        }

        html {
            overflow-x: hidden;
        }

        body {
            width: 100%;
            height: 100vh;
            overflow: hidden;
            background: linear-gradient(to right, rgb(72, 61, 139), rgb(255, 140, 0));


        }

        /* Navigation */
        nav {
            width: 100%;
            height: 10vh;
            position: sticky;
            top: 0;
            background-color: linear-gradient(to right, rgb(135, 206, 235), rgb(255, 182, 193));;
            z-index: 10;
        }
        #menu{
            font-size: 2rem;
            color: white;
            display: none;
            transform: rotate(-180deg); 
            transition: 0.3s ease;
        }
        .nav-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .logo {
            color: black;
            font-size: 2rem;
            font-weight: bolder;
        }

        .logo span {
            color:white;
            text-shadow: 0 0 10px rgb(109,67, 0);
        }


        .nav-container .links {
            display: flex;
            gap: 3rem;
            align-items: center;
        }

        .nav-container .links a {
            position: relative;
            font-size: 1.2rem;
            color: black;
            text-decoration: none;
            font-weight: 500;
            transform: 0.3s linear;
        }

        .nav-container .links a::before {
            position: absolute;
            content: "";
            bottom: -3px;
            left: 0;
            width: 0%;
            height: 3px;
            background-color: white;
            transition: 0.2s linear;
        }

        .nav-container .links a:hover::before {
            width: 100%;
        }

        .nav-container .links a:hover {
            color: rgb(109,67, 0);
        }
        section {
            width: 100%;  
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
        }

        .section-container {
            display: none; /* Hide all sections by default */
            text-align: center;
            margin: 20px 0;
            flex-direction: column;
            align-items: center;
            padding: 50px 10; /* Add padding for spacing */
        }

        .content {
            color: black;
            width: 60%;
            margin-top: 50px; /* Add some space from the image */
            text-align: left;
        }

        .content h1 {
            font-size: clamp(1rem, 2rem + 5vw, 3rem);
        }

        .content h1 span {
            color: white;
            text-shadow: 0 0 10px aqua;
        }

        .content p {
            font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
            margin: 10px 0;
        }

        /* Main Container for Home */
        .home-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 90vh;
            gap: 100px; 
        }
        .home-container .content{
            margin-top: -2rem;
        }
        .home-container .image {
            width: 400px;
            height: 500px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            margin-bottom: 100px; /* Space between image and content */
        }

        .home-container .image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .about-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 100px; 
        }
        .about-container .content h1{
            text-align: center;
        }
        .about-container .content{
            margin-top: -3rem;
        }
        .about-container .image {
            width: 400px;
            height: 500px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            margin-bottom: 100px; /* Space between image and content */
        }

        .about-container .image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .heading2{
            margin-top: 4rem;
            font-size: 5rem;
            font-weight: 600;
            margin-bottom: 2rem;
            text-align: center;
            color: var(--text-color);
            filter: drop-shadow(0 10px 10px var(--main-color));
        }
        .heading2 span{
            color: var(--text-color);
        }
        .skill-container{
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;
            
        }
        .skill-container .skill-box {
            position: relative;
            border-radius: 2rem;
            box-shadow: 0 0 1rem var(--main-color);
            overflow: hidden;
            display: flex;
            width: 300px;
            height: 250px;
        }
        
        .skill-box img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 1s ease;
        }
        
        .skill-box:hover img{
            transform: scale(1.1);
        }
        .skill-box .skillbbox_layer {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(rgba(0, 0, 0, 0.1), aqua); 
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transition: .5s ease; 
            color: black;
            text-align: center;
        }
        .skill-box .skillbbox_layer.active {
            opacity: 1;
        }
        .skill-box:hover .skillbbox_layer{
            opacity: 1;
        }
        .skillbbox_layer h4{
            font-size: 1.5rem
        }
        .education-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 90vh;
            gap: 100px; 
        }
        .education-container .image {
            width: 400px;
            height: 500px;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            margin-bottom: 100px; /* Space between image and content */
        }
        .education-container .content{
            margin-top: -2rem;
        }
        .education-container .content h1{
           margin-left: 6rem;
        }
        .education-container .image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .contacts-container{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10rem;
            margin-top: 1rem;
            
          }
          .myinfo{
              position: relative;
              display: flex;
              flex-direction: column;
              gap: 1rem;
          }
          .myinfo h2{
              position: relative;
              font-size: 5rem;
              margin-top: -8rem;
              font-weight: 600;
              letter-spacing: 1px;
              margin-bottom: 1rem;
              filter: drop-shadow(0px 12px 10px var(--main-color));
          }
          .myinfo span{
              color: var(--text-color);
          }
          .myinfo .contact-icon i{
              font-size: 2rem;
              display: inline-flex;
              gap: 1.5rem;
              font-weight: 600;
              color: #0ef;
              align-items: center;
          }
          .contact-icon span{
              font-weight: 300;
              font-size: 1.5rem;
          }
          .contact-icon{
              display: flex;
              flex-direction: column;
              gap: 1rem;
              
          }
          
          .social-icon a{
              display: inline-flex;
              justify-content: center;
              align-items: center;
              padding: 1rem;
              background-color: transparent;
              border: 0.2rem solid orange;
              border-radius: 50%;
              font-size: 1.5rem;
              margin: 1.5rem 1.5rem 3rem 0;
              transition: 0.3s ease;
              color: var(--main-color);
          }
          .social-icon a:hover{
              color: black;
              transform: scale(1.3) translateY(-5px);
              background-color: aqua;
          }
          
          .view-btn{
              display: inline-block;
              padding: 1rem 1.5rem;
              background-color: #DFF6FF;
              border-radius: 4rem;
              color: blue;
              letter-spacing: 1.5px;
              font-weight: 600;
              font-size: 1.3rem;
              border: 2px solid var(--main-color);
              transition: 0.5s ease;
              width: 15rem;
              text-align: center;
              text-decoration: none;
              align-self: center;
          }
          .view-btn:hover{
              transform: scale3d(1.03);
              background-color: var(--main-color);
              color: white;
              box-shadow: 0 0 25px var(--main-color)
          }
          .contacts-container .your-response form{
              position: relative;
              display: flex;
              flex-direction: column;
              gap: 3rem;
              flex: 1;
              margin-top: 4rem;
          
          }
          .your-response input{
              padding: 1rem 2rem;
              border-radius: 3rem;
              border: 0.2rem solid var(--main-color);
              transition: 0.5s ease;
          }
          .your-response input:hover{
              box-shadow: 0 0 25px var(--main-color);
          }
          .your-response input:focus{
              box-shadow: 0 0 25px var(--main-color);
          }
          .your-response textarea{
              padding-top: 1rem;
              padding-left: 1rem;
              border-radius: 2rem;
              resize: none;
              width: 30rem;
              border: 0.2rem solid var(--main-color);
              transition: 0.5s ease;
          }
          .your-response textarea:hover{
              box-shadow: 0 0 25px var(--main-color);
          }
          
          .your-response textarea:focus{
              box-shadow:  0 0 25px var(--main-color);
          }
          .submit-btn{
              align-self: center;
              position: relative;
              padding: 1rem 1.5rem;
              width: 15rem;
              border-radius: 3rem;
              border: 2px solid var(--main-color);
              font-size: 1.3rem;
              font-weight: 600;
              color: black;
              transition: 0.5s ease;
          
          }
          .submit-btn:hover{
              color: white;
              background: aqua;
              box-shadow: 0 0 25px var(--main-color);
          }
        .active {
            display: flex;
        }

        .section-container .image {
            width: 400px;
            height: 500px;
            border-radius: 50%;
            object-fit: cover;
            margin-top: 50px; /* Add space from content */
        }
        .section-container1 {
           display: flex;
           flex-direction: column;
        }


        /* Media Queries for smaller screens */
        @media(max-width:1285px){

            .nav-container {
               width: 100%;
               height: 0;
               padding: 20px;
               justify-content: space-between;
               
            }
            #menu{
                display: block;
            }
            .nav-container .links{
                position: absolute;
                top: 100%;
                right: 0;
                width: 50%;
                padding: 1rem 3rem;
                background: rgba(0, 0, 0, 0.8);
                border-bottom-left-radius: 2rem;
                border-left: 2px solid #FFA500;
                border-bottom: 2px solid #FFA500;
                flex-direction: column;
                gap: 4px;
                display: none;

            }
            .nav-container .links a{
                display: block;
                font-size: 1rem;
                margin: 1rem 0;
                color: var(--text-color);
                width: fit-content;
               align-content: center;
               
            }
        
            .links.active{
                display: block;
             
            }
            .home-container{
                flex-direction: column;
                gap: 20px;
            }
            .home-container .content{
                margin-top: -3rem;
            }
            .home-container .image {
                width: 40vw;
                height: 30vh;
                margin-bottom: 20px;
                margin-top: -1rem;
            }
            .home-container h1{
                font-size: 2rem;
                text-align: center;
            }
            .home-container p{
                text-align: center;
            }
            .about-container{
                flex-direction: column;
            }
            .about-container h1{
                font-size: 2rem;
                text-align: center;
            }
            .about-container p{
                text-align: center;
                font-size: 14px;
            }
            .about-container .image{
                width: 40vw;
                height: 30vh;
                margin-bottom: 0;
                margin-top: 0;
            }
            .skill-container{
                flex-direction: column;
            }
             .heading2{
                margin-top: 0;
                font-size: 3rem;
                margin-bottom: 0;
            }
            .skill-container .skill-box {
                width: 200px;
                height: 150px;
            }
            .education-container{
               flex-direction: column;
               gap: 4px;
               margin-top: 0;
            }
            .education-container .image {
                margin-top: 0;
                width: 40vw;
                height: 30vh;
                margin-bottom: 0; /* Space between image and content */
            }
            .education-container .content{
                margin-top: 0;
            }
            .education-container .content h1{
               text-align: center;
               margin-left: 0;
               margin-top: 0;
               font-size: 2rem;
            }
            .education-container .content p{
                font-size: 14px;
                text-align: center;
            }
            .education-container .image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .contacts-container{
                flex-direction: column;
                margin-top: 100px;
                gap: 0;

            }
            .myinfo h2{
                font-size: 3rem;
            }
            .myinfo .contact-icon i{
                font-size: 15px;
            }
            .myinfo .contact-icon span{
                font-size: 20px
            }
            .social-icon a{
                padding: .5rem;
                font-size: 1rem;
               margin-bottom: 0;
               
            }
           .myinfo .view-btn{
            padding: 10px;
            width: 10rem;
            font-size: 1rem;
           }
           .contacts-container .your-response form{
            gap: 1rem;
            flex: 0;
            margin-top: 1rem;
        
        }
        .your-response input{
            padding: .5rem;
        }

        .your-response textarea{
            width: 20rem;   
            height: 8rem;
        }
        .submit-btn{
            padding: 10px;
            font-size: 1rem;
            width: 10rem;
        }
        }
    